<section class="product">
  <div class="product-form">
     <div >
     <ul style="padding:0px; display:flex;"><li> <button class="btn btn-secondary">Add Medicine</button> </li>
     <li> <button class="btn btn-secondary">Product Category</button></li>
     <li> <button class="btn btn-secondary">Add Category</button></li>
     </ul>
    </div>
    <div class="panel-heading">
      product
      <span style="float:right">
   <input (change)="updateqnty($event,item)" (keyup)="updateqnty($event,item)" style="width:350px; font-size:14px; padding: 5px 5px; float:right; background: transparent;" type="search" class="form-control" placeholder="Search Medicine / Company">
   </span>
    </div>
   
    <div style="color:cadetblue; overflow-y: scroll; overflow-x: hidden; padding-top:10px; ">
      <table class="table table-striped table-hover well well-lg " >
        <tr style="color:whitesmoke; background-color:darkgray; font: 2em; ">
          <th>Name:</th>
          <th>Category</th>
          <th>Company</th>
          <th>Generic<br> Name</th>
          <th>Purchase<br> Price</th>
          <th>Selling<br>Price</th>
          <th>Dose</th>
          <th>Quantity</th>
          <th>Expire <br>Date</th>
          <th>Options</th>
        </tr>
        <tr class="well well-lg " *ngFor="let item of prodlist">
          <td>{{item.name}}</td>
          <td>{{"capsule"}}</td>
          <td>{{item.company}}</td>
          <td>{{"capsule"}}</td>
          <td>{{item.price-150}}</td>
          <td>{{item.price}}</td>
          <td>{{item.dose}}</td>
          <td>{{item.quantity}}</td>
          <td>{{"04/2020"}}</td>
          <td><button class="btn btn-primary ">Edit</button>
            <button class="btn btn-warning ">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
</section>
