.pos {
  margin: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pos-form {
  min-height: 35em;
  .row {
    padding: 15px;
  }
}

.medselect {
  width: 100%;
  min-height: 300px;
  background: red;
  // overflow-y: scroll;
  // overflow-x: hidden;
  ul {
    list-style: none;
   li :hover{
      display: block;
      padding: 1px 0px;
      font-size: 20px;
    }
    
  }
}

 .item :hover {
      background: whitesmoke;
      color: white;
    }