<header class="header white-bg">
                <div class="sidebar-toggle-box">
                    <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-dedent fa-bars tooltips"></div>
                </div>
                <!--logo start-->
                <a href="" class="logo"><strong>P<span>hamatech</span></strong></a>
                <!--logo end-->
               
                
            </header>

<div class="main-container">

<section>
<app-menu></app-menu>
</section>
<app-main></app-main>
</div>