/* You can add global styles to this file, and also import other style files */

body {
  background: #f1f2f7;
}

.panel-heading {
  font-size: larger;
  background: snow;
  padding: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

ul {
  list-style: none;
}
